.custom-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.custom-heading{
    color: white;
    background-color: rgb(207, 127, 7);
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 30px;
}
.custom-details{
    text-align: left;
}
.date{
    text-align: left;
    margin-bottom: 30px;
}
.custom-day, .custom-night{
    text-align: left;
}
#light,#dark{
    width: 100px;
    height: 35px;
    border-radius: 20px;
}
#dark{
    margin-left: 5%;;
}
#dark:checked + #container{
    color: white;
    background-color: black;
}


